<div class="container">
  <div style="text-align:center">
    <h2 style="color: black;">House-details</h2>
  </div>
  <div class="row">
    <div class="column">
      <img src="/w3images/map.jpg" style="width:100%">
    </div>
    <div class="column">
      <form action="/action_page.php">
        <table>
          <tr>
            <th>Details</th>

          </tr>
          <tr>
            <td>Title</td>

          </tr>
          <tr>
            <td>Category</td>

          </tr>
          <tr>
            <td>City</td>

          </tr>
          <tr>
            <td>Street</td>

          </tr>
          <tr>
            <td>Bedrooms</td>

          </tr>
          <tr>
            <td>Price</td>

          </tr>
          <tr>
            <td>Owner</td>

          </tr>

            <h3 class="title">Assets</h3>
            <div class="col-md-6">
              <span><i class="fa fa-asterisk"></i> Cooling</span>
              <span><i class="fa fa-thermometer"></i> Heating</span>
              <span><i class="fa fa-location-arrow"></i> Iron</span>
            </div>
            <div class="col-md-6">
              <span><i class="fa fa-desktop"></i> Working area</span>
              <span><i class="fa fa-cube"></i> Washing area</span>

            </div>
        </table><br>
        <input type="submit"  value="Contact-details">
      </form>
    </div>
  </div>
</div>
